* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
}

input {
    border: 1px solid #a8d5ba;
    padding: 10px;
    border-radius: 5px;
}

header {
    text-align: center;
    text-decoration: none;

}

main {
    text-align: center;
    background-color: #a8d5ba;
    border-radius: 50px;
    margin-top: 5px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 15px;
    background-color: #a8d5ba;
    color: black;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}